<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/lgn.css">

<title>Login Page</title>
<body class="container">
     <a href="/" class="btn1"><b>Home</b></a>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <img src="/img/padlock.svg" alt="">
                 
                <%- include('partials/messages'); %>
               
                <form action="/users/login" method="POST">
                    <div class="form-group">
                        <lable for="email" style="color: white"><b>Email</b></lable>
                        <input 
                            type="email"
                            id="email"
                            name="email" 
                            class="form-control"
                            placeholder="Enter email address"/>
                    </div>
                    <div class="form-group">
                        <lable for="password" style="color: white">Password</lable>
                        <input 
                            type="password"
                            id="password"
                            name="password" 
                            class="form-control"
                            placeholder="Enter password"/>
                    </div>
                    <button class="btn btn-block" style="color: white; font-family: Lora;">Login</button>
                </form>
                <p class="lead mt-4" style="color: white; font-weight:bold">
                    No Account? 
                    <a href="/users/register">Register</a>
                </p>
            </div>
        </div>
    </div>
</body>
